# This file specifies files and directories to ignore when building the Docker image.

__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
*.log
*.sqlite3
.DS_Store
.idea/
.vscode/
__pycache__/
*.egg-info/
dist/
build/